.container{
    max-width: 1430px;
    padding: 0 15px;
    margin: 0 auto;
}

.header{
    &__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 11px 0;
    }
}
.menu__list{
    display: flex;
    gap: 40px;
    
}

