body {
  background-color: #E5E5E5;
}

.container {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-color: #fff;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 0;
}
.header__nav {
  display: flex;
}

.menu__list {
  display: flex;
  gap: 40px;
  margin-right: 40px;
}

.phone {
  background-image: url(../img/phone-call\ 1.svg);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 24px;
}

.flex__container {
  display: flex;
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
  gap: 40px;
}

.banner {
  height: 300px;
  background-image: url(../img/banner1920.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px;
}

.main {
  border: 1px solid rebeccapurple;
  background-color: aqua;
  width: 75%;
  height: 500px;
}

.aside {
  border: 1px solid red;
  background-color: aqua;
  width: 25%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer {
  padding-top: 40px;
}
.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
  }
  .main {
    width: 100%;
  }
  .aside {
    width: 100%;
  }
}